[2022-07-18 11:31] Dennis4b commented on #1356
Aha I somehow thought I have to "return" from the `collectZIO` handler (that events within one channel are serialized), thus the fiber ref.

Your solution works perfectly, I particularly love the `.race(ch.awaitClose)`, so much happening in such a casual statement. Thank you!

[2022-07-18 11:31] #1356 closed, assigned to nobody

[2022-07-19 01:56] #1337 closed, assigned to nobody

[2022-07-19 09:08] #1354 closed, assigned to gciuloaica

[2022-07-19 15:48] pjfanning opened #1357 "release note for v2.0.0-RC10 has wrong changelog"
https://github.com/dream11/zio-http/releases/tag/v2.0.0-RC10

Has:
`Full Changelog: https://github.com/dream11/zio-http/compare/v1.0.0.0-RC28...v2.0.0-RC10`

Should probably be:
`Full Changelog: https://github.com/dream11/zio-http/compare/v2.0.0-RC9...v2.0.0-RC10`

[2022-07-19 16:17] gciuloaica commented on #1357
@pjfanning Change log is correct. Before this release the main branch was the branch for v1.0.0. All the v2.0.0 RC releases has been done from a branch from where we port the changes done in main branch to ZIO 2.0 RCs. So all the released changes were included in previous release. With ZIO 2.0 release we basically migrated from v1.0.0 to v2.0.0 by migrating main branch code base from ZIO 1.0 to ZI

[2022-07-19 16:20] pjfanning commented on #1357
Thanks for the update - I'll close this.

[2022-07-19 16:20] #1357 closed, assigned to nobody

[2022-07-20 07:50] gciuloaica commented on #1015
Created https://github.com/zio/zio/issues/7103

[2022-07-21 04:50] #1330 closed, assigned to nobody

[2022-07-22 08:08] Dennis4b opened #1361 "Client does not notice connection is closed before response fully sent?"
It appears that (on FreeBSD, using rc-10 with ZIO 2.0), that the `Client` does not notice when a server has closed the connection before it finished sending the entire response.

So if I serve a file like this:
[code]

and then try to fetch it like this:

[code]

and close `nc` once the response has been sent, the client keeps waiting forever and does not notice that the connection has been closed

[2022-07-25 09:48] #1131 closed, assigned to nobody

[2022-07-25 16:05] gbecan opened #1368 "Requests run on Netty's thread pool"
**Describe the bug**
Implementations of HTTP requests are executed on Netty's thread pool instead of ZIO default thread pool.

**To Reproduce**
Run this app:
[code]

Go to [localhost:8080/thread-pool](http://localhost:8080/thread-pool)
The page indicates the thread pool used to compute the result of the request.
In my case it displays something like `epollEventLoopGroup-2-3` which corresponds to N

[2022-07-26 03:59] tusharmath commented on #1368
@gbecan This is by design.
This threading model performs better because there is no context switching
and going forward, the zio http client and other clients such as ZIO Kafka, ZIO Redis, etc.
will also be running on the same thread.
This will allows developers to write high performance libraries and codecs without worrying about thread safety.

[2022-07-26 07:40] guizmaii commented on #1368
IIRC, we're not supposed to run application code on Netty's thread pool 🤔

[2022-07-26 15:32] gciuloaica commented on #1368
@guizmaii I think the recommendation is to: never block or perform computationally intensive operations on Netty's EventLoop.

[2022-07-26 22:35] GiGurra opened #1370 "Can only set one header with same name in http response"
**Describe the bug**
Can only set one header with same name in http response. This is problematic especially for set cookie responses

**To Reproduce**
Steps to reproduce the behaviour:
[someresponse].addHeaders(Headers.apply("a" -> "b", "a" -> "c"))

**Expected behaviour**
should be able to add multiple http headers with same name to http response

**Screenshots**
<img width="408" alt="image" src

[2022-07-27 06:26] gciuloaica commented on #1370
Duplicate of #1354

[2022-07-27 06:26] #1370 closed, assigned to nobody

[2022-07-27 11:39] #1368 closed, assigned to nobody

[2022-07-28 07:36] paul-lysak opened #1372 "`Host` header doesn't include port"
**Describe the bug**

According to the HTTP 1.1 spec (https://datatracker.ietf.org/doc/html/rfc2616#section-14.23) `Host` header must include both host and port if they're specified in the requested URL. `zhttp.service.EncodeRequest` only includes the host.

This makes zio-http client unsuitable for calling some security-related services - e.g. `userinfo` request in Keycloak (https://www.keycloak.

[2022-07-28 08:37] lachezar commented on #1352
I just created a small app that demonstrate the same issue and I was about to open a ticket, when I finally found this one 🤦‍♂️

Anywho, here is small demo app that shows the issue https://github.com/lachezar/zio-http-logging-issue/blob/master/src/main/scala/Main.scala

[2022-07-28 09:02] gciuloaica commented on #1352
I have open this issue on ZIO https://github.com/zio/zio/issues/7138

[2022-07-28 13:05] lachezar commented on #1309
I just stumbled into the exact same issue

[2022-07-28 17:34] adamgfraser commented on #1352
You can use `ZIO.loggers` to access the current loggers though I think this is actually a more general issue and you want to capture all `FiberRef` values and propagate them to the new runtime.

[2022-07-28 17:38] adamgfraser commented on #1352
@tusharmath Let me know if you want help with this.

[2022-07-29 06:59] gciuloaica commented on #1352
@adamgfraser to avoid doing any context switch, in  `HttpRuntime` we are defining a `sticky` strategy where each EventLoop from EventLoopGroup (group of netty thread pools) has a corresponding `Runtime` instance. Ideally each `Runtime` instance should be the same with the initial `Runtime` but has a different executor attached.

[2022-07-29 08:58] vasiliybondarenko opened #1374 "Decode response body to case class"
It would be nice to have the following code works:
[code]

[2022-07-31 12:44] #1352 closed, assigned to gciuloaica

[2022-07-31 13:05] #1361 closed, assigned to gciuloaica

[2022-08-01 16:09] gciuloaica opened #1381 "Drop dependency of `EventLoopGroup` `ServerChannelFactory` `ChannelFactory` as Layers"

[2022-08-02 23:51] govorov opened #1383 "No way to verify cookie signature"
Good evening dear team,

As far as I understand, there's no clear way to verify the signature of a request cookie (as of v1.0.0.0-RC29)
There's the `verify` method in `Cookie`, but it's private.

What's the right way of verifying incoming cookies then?
Ideally, I'd expect the server to verify signatures during decoding (like here for example https://github.com/pillarjs/cookies)

Thank you.

[2022-08-03 22:41] ihevcuk opened #1384 "WebSocketSimpleClient example on tag/v2.0.0-RC10"
Example ends with error:

`SEVERE: Failed to submit a listener notification task. Event loop shut down?
java.util.concurrent.RejectedExecutionException: event executor terminated
	at io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThreadEventExecutor.java:934)
	at io.netty.util.concurrent.SingleThreadEventExecutor.offerTask(SingleThreadEventExecutor.java:351)
	at io.netty.util.conc

[2022-08-04 02:49] tusharmath commented on #1383
I think we can make the method public.

At the moment you should get a `None` if the signature doesn't match.
Is there a use case where you would like to read cookies that aren't verified?

[2022-08-05 11:15] gciuloaica commented on #1384
@ihevcuk you have to update line 36 to: `httpSocket.toSocketApp.connect(url) *> ZIO.never` . If you need to shutdown the client then you have to add in implementation for it following websocket protocol.

[2022-08-10 06:36] #1384 closed, assigned to gciuloaica

[2022-08-10 11:54] #1309 closed, assigned to gciuloaica

[2022-08-10 16:56] #1339 closed, assigned to nobody

[2022-08-11 12:16] artur-jablonski commented on #1025
I very likely bumped into this bug on `v2.0.0-RC10`.

The pattern of my code is to wake up every min and shoot 20-30 http requests. After few hours on 1GB RAM server I see OutOfMemoryException thrown from JVM. After looking at the heap dump with MAT it looks that what is hogging the memory is `EpollEventLoop.channels` that is a `HashMap` that holds all connections.

So unlike the original bug repo

[2022-08-11 12:24] Dennis4b commented on #1025
If you control the server side too, make sure to send "Connection: close".
I found that the client connections do not get cleaned up otherwise, although it took hundreds of thousands of connections before causing trouble.

(If you can't add this header, just for the sake of testing insert a forwarding proxy such as nginx inbetween to force this header)

[2022-08-11 12:47] artur-jablonski commented on #1025
Thanks for the tip. I don't control the server side unfortunately. It will be easier for me to swap http client than sticking in nginx, but I will explore. I guess it took you hunreds of thousands of connections because you ran it with a lot of RAM.. On 1GB server it took around 12hrs... with 30requests every minute.. 30 * 60 * 60 * 12 = 1296000. Right that's over million connections. Still. For t

[2022-08-11 13:07] artur-jablonski commented on #1025
Looks like HTTP 1.1 client can also send "Connection: close" header to to ask the server to close the connection. I will give it a go to see if that helps

https://serverfault.com/questions/790197/what-does-connection-close-mean-when-used-in-the-response-message

[2022-08-11 13:08] Dennis4b commented on #1025
In my case the firewall tables overflowed.. so `netstat` is a good way to see the connections accumulate.
Didn't know about the `Connection: close` client side, that's a good one to try.

[2022-08-11 15:17] mhodovaniuk opened #1389 "Delegate equals and hashCode of zhttp.service.Channel to JChannel"
**Describe the bug**
`zhttp.service.Channel` has deafault `equals` and `hashCode`. As a result, two `zhttp.service.Channel` are not equal even though they have the same `channel: JChannel` field inside.

**Expected behaviour**
`equals` and `hashCode` in `zhttp.service.Channel` should be defined and implementation should be - delegate to `channel: JChannel` field's `equals` and `hashCode`. Two `zht

[2022-08-12 04:07] tusharmath commented on #1389
Thats right. Thanks for reporting 🙏, would you be interested in creating a fix for this🙂

[2022-08-12 08:15] tusharmath commented on #1389
I thought about this a bit again —

[code]

We can't say that `c1 == c2` because they both take in different type of inputs.
But with the proposed changes, it's going to be equal.

I would want to understand more about the exact use-case.

[2022-08-12 09:09] mhodovaniuk commented on #1389
The use case is to maintain a collection of active subscribers: e.g. have some Map[Channel[A], V]. The point is, that from a library client's point of view channels are equal if underlying JChannels are the same.

Currently, equals is broken: `convert` functions are always different
[code]

[2022-08-12 09:18] tusharmath commented on #1389
What if we expose `id` on channel instead?

[code]

[2022-08-12 09:26] tusharmath commented on #1389
Actually the method `id` already exists.

[2022-08-12 10:38] mhodovaniuk commented on #1389
Yes, the workaround with id works and this is not a blocker. And that is exactly how I fixed this in my code.

The intention of this ticket is to improve API and make behavior more expectable, since the class name is Channel and it is a wrapper around the Netty Channel, and the user expects it to have behavior similar to the Netty Channel. Also, I am not sure about the use case where current equal

[2022-08-14 18:33] artur-jablonski commented on #1025
This worked. Setting `Connection: close` HTTP header on request to the server closes connection by server after response is sent as per HTTP 1.1 protocol. This in turn releases resources on the client side and the memory usage doesn't go up, but stays flat.

This works, but a client backed by connection pool could potentially be way more performant. Is there any work that already started on this?

[2022-08-14 19:21] Dennis4b commented on #1025
Great that it worked! Thanks for reporting back, I will add this to my own clients too.

If the client side is getting some more love, there is a branch with a streaming client (as opposed to buffering the entire request/response in memory first as it does now), it would be great if streaming would be supported as well to deal with large files, but I'm not sure what the reason is that it's not the

[2022-08-17 08:11] tusharmath commented on #1389
I think in that case may be we shouldn't have `Channel` as a case class.

[2022-08-25 06:00] tusharmath commented on #1389
Closing this issue for now. We can come to this again, when we have a better solution.

[2022-08-25 06:00] #1389 closed, assigned to nobody

[2022-08-29 02:22] #1372 closed, assigned to nobody

[2022-08-29 02:23] tusharmath commented on #912
Fixed in #1372

[2022-08-29 02:23] #912 closed, assigned to tusharmath

[2022-08-29 02:25] tusharmath commented on #1207
This should be fixed in #1351.

[2022-08-29 02:25] #1207 closed, assigned to gciuloaica

[2022-08-29 15:20] paul-lysak opened #1408 "CORS middleware header `access-control-allow-headers` is broken"
With the current zio-http code from `main` branch (v2.0.0-RC10 doesn't have this bug) browsers can't parse `access-control-allow-headers` and fail to process cross-origin requests.
Chrome fails with an error: "Cannot parse Access-Control-Allow-Headers response header field in preflight response."

It happens because the header value is quoted and browsers consider everything in quotes as a header

[2022-08-29 19:57] russwyte commented on #1408
Ran into same issue when trying to bump zhttp version for Tapir - fortunately they had tests for this case and they failed.
[code]

[2022-08-30 07:19] gciuloaica commented on #1408
@paul-lysak
- regarding your point on the limiting the ability of developers to really want to send 2 headers, I do not consider it a problem or a limitation as the implementation is reflecting the RFC linked in the original PR.
- the quotation it is a problem and I'm currently looking into it.

[2022-08-30 09:35] paul-lysak commented on #1408
Ok, I agree that the first point is irrelevant due to RFC9110 section 5.3: `a sender MUST NOT generate multiple field lines with the same name in a message`.

[2022-08-30 10:13] rohitbishnoi opened #1410 "WebSocketSimpleClient.scala example is not working. It is failing with a long stack trace."
**Describe the bug**
Getting the following error when I tries to run the https://github.com/dream11/zio-http/blob/main/example/src/main/scala/example/WebSocketSimpleClient.scala example.

[code]

**build.sbt content**
[code]

[2022-08-30 11:23] gciuloaica commented on #1408
@paul-lysak  looking more deeper into the issue, CombinedHttpHeaders is affecting only the CORS functionality as, in our CORS implementation we are already merging the values of the headers into a new a single one, where the values are separated by comma, hence the encoding will escape the  value. Currently working to update the open PR.

[2022-08-30 13:06] #1383 closed, assigned to nobody

[2022-08-30 14:37] gciuloaica commented on #1410
Duplicate of #1384

[2022-08-30 14:37] #1410 closed, assigned to gciuloaica

[2022-08-30 18:09] kolemannix opened #1411 "CORS Middleware: Return only requested allowed headers, rather than all configured allowed headers"
### Issue
This is not a bug, but a suggestion for improving the CORS implementation. Other CORS implementations, namely Play, which I am currently using in production, only return the _Requested_ headers in the Access-Control-Allow-Headers preflight response header, rather than returning the internal configured whitelist.

### Example

Configured Allowed Headers:
`X-Custom-Head-1`, `X-Custom-Head-

[2022-08-31 10:35] fokot opened #1413 "Decompression for client"
**Is your feature request related to a problem? Please describe.**
I'm using zhttp client and then I need to process results. They are compresses. Is it possible to set it up to decompress response for me? I'm using newest `2.0.0-RC11` and found only `Server.requestDecompression(..)`. `Server.responseCompression(..)` is not there. Should it be supported here, or it needs to be added? Thanks

**Des

[2022-09-05 07:50] danellis opened #1418 "No documentation or examples for sending websocket messages"
I'd like to be able to start sending messages on a websocket as soon as it's opened (i.e. not in response to incoming messages). I don't see anything in the documentation or examples that shows how this would be done.

[2022-09-07 10:31] adamw opened #1421 "Illegal header formatting in RC11"
Since RC11, headers seem to be incorrectly formatted - there are some problems with adding `"`. Specifically, when the `WWW-Authenticate` header is set to `Basic realm="realm"`, the client receives `"Basic realm=""realm"""` (with many `"` added).

This used to work in RC10 and works for all other server implementations in tapir.

This breaks clients, e.g. the clients that come bundled with java:

[2022-09-09 18:30] SelwynL opened #1428 "Missing artifact for zhttp-logging_2.13:1.0.0.0-RC28"
**Describe the bug**
Using version `1.0.0.0-RC28` with Scala `2.13` seems to result in the following error:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Add `"io.d11" %% "zhttp" % "1.0.0.0-RC28"` to a Scala 2.13 project
2. Run `sbt compile`

**Expected behaviour**
The `io.d11:zhttp-logging_2.13:1.0.0.0-RC28` artifact to be published

[2022-09-10 14:00] tusharmath commented on #1428
Please use `2.0.0-RC11` instead.

[2022-09-10 20:06] girdharshubham commented on #1413
@fokot  There's already a PR for that: #1397

[2022-09-11 07:12] renovate[bot] opened #1433 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency dev.zio:zio-sbt-website to v0.3.10](../pull/1951)
 - [ ] [Update actions/checkout action to v3](

[2022-09-12 05:17] adrianfilip commented on #1338
Picked it up.

[2022-09-12 05:57] adrianfilip commented on #1338
#1443

[2022-09-12 06:42] adrianfilip commented on #1032
Picked it up

[2022-09-12 07:25] adrianfilip commented on #1007
Picked it up

[2022-09-12 07:58] 987Nabil commented on #1063
What is the state of this? I don't see any related pr's.

[2022-09-12 08:07] adrianfilip commented on #1007
Would it be preferable to have more case classes?
[code]
Otherwise everytime we combine FromChunk and FromJHeaders we would have to convert one on the spot.

[2022-09-12 10:44] jdegoes commented on #1007
@adrianfilip Yes. Just be sure those constructors are package-private, because they are a performance-oriented implementation detail and should not leak into the interface.

You could also consider:

[code]

then making `Header` extend `Headers` to avoid "singleton chunk" wrapping overhead.

[2022-09-12 11:04] #1408 closed, assigned to gciuloaica

[2022-09-12 11:04] #1421 closed, assigned to nobody

[2022-09-12 14:46] jdegoes opened #1447 "Organize HTTP model classes into separate package"
**What is not easy to do right now?**

All high-level data types and service types are located in the `zio.http` package, which makes navigating code more difficult and introduces the possibility of name clashes, with common names like `Headers` and `Cookies` used up by data types.

**Describe the solution you'd like**

Move all pure data classes that model aspects of the Http protocol into a new

[2022-09-12 15:13] jdegoes opened #1448 "Adopt ZIO 2.0 pattern for unsafe methods"
**What is not easy to do right now?**

Unsafe methods use the ZIO 1.x convention of prefixing with `unsafe`.

**Describe the solution you'd like**

The ZIO 2.0 pattern for unsafe methods is to place them into a separate `.unsafe` namespace, and to not add any prefix to the method name, but rather, to accept an implicit `Unsafe` in the implicit parameter list.

**Why is it important?**

Consistency

[2022-09-12 15:18] jdegoes opened #1449 "Move all internal traits and classes to `zio.http.internal` package"
**What is not easy to do right now?**

Many internal implementation details of the library that should only ever be seen by maintainers or very advanced users are visible in the organizational details and generate Scaladoc.

**Describe the solution you'd like**

Move internal implementation details (including internal traits) to an internal package, with package-private access modifiers, so that o

[2022-09-12 16:42] jdegoes opened #1450 "Add Middleware that does request logging using ZIO 2 Logging"
**What is not easy to do right now?**

Request logging is a standard feature of Nginx, httpd, and other web servers. ZIO 2 users who have configured ZIO 2's integrated logging do not have an easy way to pipe request logging through to their configured logging backend.

**Describe the solution you'd like**

A Middleware that both enriches log annotations with specified (default?) headers, but also

[2022-09-12 16:44] jdegoes opened #1451 "Add Middleware that does response logging using ZIO 2 Logging"
**Is your feature request related to a problem? Please describe.**

Response logging is a standard feature of some web servers. It is possible to add response logging now into any ZIO HTTP server, but it requires writing custom code, particularly if the end-goal is to pipe that response logging through the ZIO 2 logging front-end, to benefit from the work done in supporting different logging backe

[2022-09-12 16:56] swoogles commented on #1451
I'll look into this.
Do we have a clear spec for "industry-standard response logging" ?

[2022-09-12 17:13] jdegoes commented on #1451
No but some inspiration can be taken from [httpd](https://httpd.apache.org/docs/current/mod/mod_log_config.html#page-header) or Nginx.

[2022-09-12 17:24] swoogles commented on #1451
Looking at those 2, I lean towards Nginx, which uses full words:
[code]

Httpd is more cryptic/terse with single letter options. I don't think stuff like this is user-friendly:
[code]

[2022-09-12 17:28] jdegoes opened #1453 "Do not expose Netty data types in public APIs"
**What is not easy to do right now?**

It is not easy to replace Netty by a different library, or to contemplate a Scala Native version of ZIO HTTP.

**Describe the solution you'd like**

Ensuring that no Netty data types are exposed in the public API. Any Netty data types used internally can be made private or package private, while any Netty data types that a user must interact with can be wrapp

[2022-09-12 17:29] jdegoes commented on #1451
Oh I agree and I am not even suggesting user-configurability in these tickets. Just choosing some reasonable defaults for request/response logging.

The docs can be taken as a reference to what sort of things these servers are capable of embedding into the access logs.

[2022-09-12 17:30] swoogles commented on #1451
`I am not even suggesting user-configurability`
Ah, good to know, I was starting down that rabbit hole 🙂

[2022-09-12 17:32] jdegoes opened #1454 "Move all major end-user facing parts of the API to zio.http"
**What is not easy to do right now?**

The part of the API that a user should invest time in learning is not easy to discover, with some important websocket abstractions being located in the `socket` package (for example).

**Describe the solution you'd like**

Relocate all major end-user facing parts of the API to the zio.http package.

**Why is it important?**

It will improve discoverability of

[2022-09-12 17:53] swoogles commented on #1451
Looks like I can't assign the ticket to myself in this repo for some reason, but I'll claim this one.
You can assign it to me when convenient.

[2022-09-12 17:57] jdegoes opened #1455 "Add endpoints DSL that can be used to generate docs, clients, etc."
**Is your feature request related to a problem? Please describe.**

Two issues:

1. The routing works by "first matches", and does not take advantage of the tree-like nature of URLs. As such, finding the correct handler is `O(n)` in the total number of API end points, but it should be `O(log n)` instead.
2. It is not possible to generate docs or type-safe clients or client libraries in other progr

[2022-09-12 18:58] fokot commented on #1413
@girdharshubham but that one is for server. Pipeline is appended only in `ServerChannelInitializer` and not in `Client`. Maybe you can add the same in the PR to client.

[2022-09-12 20:52] adwells-ds opened #1457 "Incorrect header encoding"
**Describe the bug**
https://github.com/zio/zio-http/pull/1409 broke the encoding of valid headers

**To Reproduce**
[code]
**Expected**
[code]

**Actual encoding**
[code]

[2022-09-12 23:46] jdegoes opened #1459 "Export default metrics under zio.http.*"
**Is your feature request related to a problem? Please describe.**

ZIO HTTP does not currently export any metrics using ZIO 2 integrated metrics.

**Describe the solution you'd like**

Integrated ZIO 2-based metrics could include the following:

1. Request count (counter) "zio.http.requests"
2. Response broken down by status code (counter with status code in name or tagged counter) "zio.http.stat

[2022-09-12 23:55] jdegoes opened #1460 "Move client and server to interfaces + implementations + layers"
**Is your feature request related to a problem? Please describe.**

The server and client are objects, whose methods use the environment to obtain their dependencies. This was a ZIO 1.0 pattern. In ZIO 2, it's more idiomatic for such functionality to be moved to service traits, whose classes consume dependencies through constructors, and whose construction is itself described by a layer.

**Descri

[2022-09-12 23:56] jdegoes commented on #1381
See #1460. Once that is done, it matters less if those layers depend on other things, so long as we can hide that in the "top level" layers (`Client` and `Server`).

[2022-09-13 12:13] #1457 closed, assigned to nobody

[2022-09-13 12:32] #1032 closed, assigned to nobody

[2022-09-13 14:46] scottweaver commented on #1453
I am seeing this cause issues in the wild as users are writing things that will exhaust ref counts and cause unpredictable behavior.

[2022-09-13 16:20] adamgfraser commented on #1460
I'll do this.

[2022-09-13 16:30] adamgfraser commented on #1460
Actually @gciuloaica is already on this!

[2022-09-13 18:18] swoogles commented on #1015
Is there anything left to do for this ticket since https://github.com/zio/zio/issues/7103 was merged?

[2022-09-13 23:10] #1448 closed, assigned to vigoo

[2022-09-14 02:21] tusharmath opened #1469 "Redesign SSL for Server"
**Is your feature request related to a problem? Please describe.**
The current SSL API isn't inline with the rest of ZIO Http. It's a bit awkward to use, specially if you are a beginner.

**Describe the solution you'd like**
Re-look at how HTTPs server is created. There should just be a one line configuration to enable SSL,
which starts with some default certificates / keys etc. Customization shou

[2022-09-14 05:40] gciuloaica commented on #1015
@swoogles the change it is included as we are on zio 2.0.2, so nothing left to be done.

[2022-09-14 05:40] #1015 closed, assigned to nobody

[2022-09-14 07:30] tusharmath commented on #1460
One change that we should consider while doing this change is to make sure that the client and the server use the same event loop and the same transport.

[2022-09-14 08:39] tusharmath commented on #1455
I think the current time complexity for route matching in `O(n^2)`, considering `n` routes
of length `n`.

I think the optimization will have time complexity of `O(n)` if we use a Trie of alphanumeric chars.

[2022-09-14 12:09] ioleo opened #1473 "Publish ZIO Http under `dev.zio`"
When trying to install according to the docs:

[code]

I'm getting:
[code]

also tried
[code]

I'm getting:
[code]

The only artifact that resolves is `"io.d11" %% "zhttp" % "2.0.0-RC11"`, however that seems to contain a completely diffrent (outdated) version - eg. the package prefix is `zhttp` instead of `zio.http`, `Server` is in `service` subpackage.

How do I install and use the latest version

[2022-09-14 16:41] vigoo commented on #1473
Version in zio org not published yet

[2022-09-14 16:44] #1428 closed, assigned to nobody

[2022-09-14 17:16] swoogles commented on #1459
I haven't done much with ZIO metrics yet, but I'll give this a try.

[2022-09-15 01:21] tusharmath commented on #1473
Let's keep the issue open, until it's resolved @vigoo.
Pinning it so that everyone is aware.

[2022-09-15 08:55] #1450 closed, assigned to vigoo

[2022-09-15 08:55] #1451 closed, assigned to nobody

[2022-09-15 10:55] jdegoes opened #1478 "Improve performance of ZIO HTTP by using ZIO.refailCause in more places"
**Is your feature request related to a problem? Please describe.**

ZIO 2 had a massive update to the way async stack traces are generated. Now, they are virtually cost-free, except when created, which is not in the happy path. However, the creation of an async stack trace is now much more costly than before.

For this reason, it is important to pay attention to the generation of async stack trace

[2022-09-15 11:09] jdegoes opened #1479 "Implement client connection pooling"
**Is your feature request related to a problem? Please describe.**

The performance of the Http client can be improved through connection pooling.

**Describe the solution you'd like**

Connection pooling is easier to implement with a keyed pool, which ZIO 2 does not yet support.

We can build a `ZKeyedPool` here and upstream to ZIO 2 later:

[code]

Then we can utilize this connection pool in the

[2022-09-15 13:30] jdegoes opened #1481 "Redesign end-user interface of Client without changing implementation"
**Is your feature request related to a problem? Please describe.**

`Client` features a non-compositional design that makes re-use entirely a user-side concern. In order to facilitate reuse within the library, without placing the burden on users, and also in order to pave the way for future optimizations, which may require some upfront work (e.g. ahead-of-time compiling headers or generating codec

[2022-09-15 13:38] jdegoes commented on #1481
I didn't touch `socket` but will revisit that in other tickets.

[2022-09-15 14:10] jdegoes commented on #1460
@devsprint See comment from @tusharmath on sharing event loop & transport between client & server.

[2022-09-15 14:55] adamgfraser commented on #1481
I'll take this.

[2022-09-15 15:09] jdegoes commented on #1469
I suggest pure data as a representation for the SSL configuration, having both options to load the SSL key / certs from resources (local file, resource, etc.), as well as options to pass it directly ("in memory", having already been loaded from, e.g., a secret server), and options to generate fresh keys & self-certify (for testing / developer-mode).

Something like:

[code]

Then this pure data wh

[2022-09-15 15:21] devsprint commented on #1460
@jdegoes @tusharmath the event loop and transport between client and sever sharing will be in a new PR.

[2022-09-15 16:07] 987Nabil commented on #1447
I'll do this

[2022-09-15 16:08] adamgfraser commented on #1447
Awesome!

[2022-09-15 21:53] swoogles commented on #1459
Sigh, well this makes ticket #2 that I've worked on this week that was duplicate work.
I didn't realize PR #1394 existed until refreshing this page just now.

Branch is here: https://github.com/zio/zio-http/compare/main...swoogles:zio-http:create_metrics_middleware?expand=1
I was just wrapping up today, so I don't have time to see where it stands in comparison to the work @frekw has already done,

[2022-09-16 00:11] frekw commented on #1459
@swoogles I think they're pretty similar. I think the big difference is that by using `interceptZIOPatch` as in your branch we won't be able to catch error or defects, which we definitely want to have metrics for as well.

[2022-09-16 08:24] #1478 closed, assigned to tobia80

[2022-09-16 09:07] ioleo commented on #1473
FYI: I got it working by using `d11` and `2.0.0-RC10` (RC11 conflicted with tapir).

[2022-09-16 09:50] senia-psm commented on #1449
I want to take this.

[2022-09-16 09:58] ghidei commented on #1469
I'll take this one

[2022-09-16 10:29] jdegoes commented on #1469
@ghidei Thank you!

Generating a key pair and self-signing (for `SSLConfig.Generate`) is a bit painful due to API design and best searching on Stack Overflow or elsewhere for pre-canned answers.

![image](https://user-images.githubusercontent.com/156745/190619278-115dbc60-b6cd-4238-ab6a-f04ed5cd3f64.png)

[2022-09-16 10:30] jdegoes commented on #1481
Re-opening this until we decide about the retry / mapping stuff.

[2022-09-16 10:31] jdegoes commented on #1481
(Note for contributors reading this ticket: Part 1 was done in #1488, Part 2 remains to be done.)

[2022-09-16 10:41] jdegoes opened #1490 "Introduce healthcheck HttpApp that relies on ZIO Metrics Connectors"
**Is your feature request related to a problem? Please describe.**

All of the metrics (ZIO, ZIO HTTP, + user metrics) can be exposed via an HTTP API, but currently, doing so requires depending on the project `zio-metrics-connectors`, which depends on `zio-http` (an older version), and which launches a *separate* server on a separate port requiring its own configuration. This is inconvenient, as w

[2022-09-16 12:11] matteobovetti commented on #195
ZIO 2.0 is out. There are any chance to see this project migrated?

[2022-09-16 13:14] ghidei commented on #1469
Thanks! I'm a proud owner of that book already, so I'll look it up :)

[2022-09-16 16:33] adamgfraser commented on #1481
Will do in a follow up.

[2022-09-16 21:39] #1282 closed, assigned to gciuloaica

[2022-09-17 07:35] changzhiwin commented on #1473
This is a serious problem. I can't get `"dev.zio" %% "zio-http" % "2.0.0-RC11"` dependence, and d11's document site was removed.

[2022-09-18 07:05] 987Nabil commented on #1490
May I suggest another name? I mean this is an endpoint to expose metrics right? A health check might be in someone's domain something different. Like is the db connection alive. I would call the middleware `exposeMetrics` or maybe `publishMetrics`

[2022-09-18 08:01] #1447 closed, assigned to 987Nabil

[2022-09-18 10:45] #1338 closed, assigned to nobody

[2022-09-18 11:09] adrianfilip commented on #1007
This was merged and can be closed. https://github.com/zio/zio-http/pull/1463

[2022-09-18 14:36] #1007 closed, assigned to nobody

[2022-09-18 15:38] jdegoes opened #1498 "Generate OpenAPI documentation from EndpointSpec data type"
**Is your feature request related to a problem? Please describe.**

The `zio.http.api.EndpointSpec` contains a declarative description of an API endpoint, while the `ServiceSpec` data type contains a declarative description of more than one API endpoints.

These declarative descriptions are wholly sufficient to generate extremely good OpenAPI documentation for the endpoints. Yet, this is a feature

[2022-09-18 15:43] jdegoes opened #1499 "Add .toJson methods to OpenAPI data types"
**Is your feature request related to a problem? Please describe.**

The `zio.http.api.openapi.*` family of data types is an ADT to describe OpenAPI documentation. The ADT is strongly typed and incorporates data types from `zio.http.model`, as well as ZIO and the Scala standard library.

While useful, this ADT cannot currently be translated into rendered JSON, which impedes other tickets.

**Descri

[2022-09-18 15:46] jdegoes opened #1500 "Support streaming responses in zio.http.api"
**Is your feature request related to a problem? Please describe.**

Streaming responses is supported in the api of `zio.http.api`, but is not supported in the implementation for client and server (`APIClient.scala`, `APIServer.scala`, located in `/src/main/scala/zio/http/api/internal/`).

**Describe the solution you'd like**

Streaming responses should be supported for both client and server, with

[2022-09-18 16:04] jdegoes opened #1501 "Refactor middleware to use declarative encoding based on new machinery in zio.http.api"
**Is your feature request related to a problem? Please describe.**

The middleware uses an executable encoding, which makes introspection impossible. In addition to having some performance implications, this means that it is not known in advance which headers, query parameters, or route segments a piece of middleware will inspect, or if and how a piece of middleware will modify the response header

[2022-09-18 19:29] adamgfraser opened #1503 "Propagate Tracing Information"
**Is your feature request related to a problem? Please describe.**

All ZIO HTTP operators should propagate tracing information so that execution traces show the user's code and not the "guts" of ZIO HTTP.

**Describe the solution you'd like**

All ZIO HTTP operators that construct a ZIO workflow should require an implicit trace. So instead of:

[code]

We should do:

[code]

We can enforce this b

[2022-09-18 20:28] chaotic3quilibrium opened #1505 "Graceful shutdown pattern for the "Getting Started" or the "Simple Server" template..."
In anticipation of bootstrapping a new zio-http server, I am using the ["Getting Started" template](https://github.com/zio/zio-http/#getting-started) to "grow" towards a solution as I am learning Zio and ZHttp. The current version of the "Getting Started" template looks like this, requiring that I externally "kill" the running process:

[code]

I would like to modify `app` by adding a "stop" comma

[2022-09-18 21:38] jdegoes opened #1506 "Properly support content type headers in zio.http.api"
**Is your feature request related to a problem? Please describe.**

Currently, `EndpointClient` and `EndpointServer` in `zio.http.api.internal` do not perform an adequate job supporting and respecting content type headers.

**Describe the solution you'd like**

Modify the client and server to respect and generate the appropriate content type headers, and enhance the architecture to support any one

[2022-09-18 21:40] #1481 closed, assigned to adamgfraser

[2022-09-18 21:44] afsalthaj commented on #1501
I would like to take this up

[2022-09-19 01:21] changzhiwin commented on #1473
It's not work for me also. Anyone can tell me how to fix the dependence setting?

[code]

[2022-09-19 06:21] 987Nabil commented on #1499
I'll do this 🙂

[2022-09-19 06:45] 987Nabil commented on #1499
@jdegoes In the `OpenAPI` case class `externalDocs` is `Doc` which is an ADT that represents a full documentation. But the open api specs say it should be an object with two fields. Namely `description` and `url` (which is required) that leads to an external documentation. I can understand, that we might want to create this external docs in zio-http ourselves and link it, but it seems not to be po

[2022-09-19 06:49] 987Nabil commented on #1499
I just realised, `Doc` is also used for the `description` fields. Which according to the spec, must be a string, that supports markdown. But `Doc` can currently only be rendered to html or plain text. I can use plain text in this cases, but maybe a markdown rendering for `Doc` should be added.

[2022-09-19 07:15] vigoo commented on #1473
Note that there were still no new release since it moved into the ZIO organization, this ticket was just closed because the publishing settings were fixed in the repo.

[2022-09-19 07:15] vigoo commented on #1473
Reopened to avoid confusion

[2022-09-19 09:54] jdegoes opened #1510 "Create CharSequenceExtensions to help consolidate CharSequence-related code"
**Is your feature request related to a problem? Please describe.**

ZIO HTTP tries to use `CharSequence` which can be backed by entities other than `String`, which helps because `String` must always be decoded into bytes before it can be written to sockets, and other entities can have this logic baked in.

However, `CharSequence` have undefined equality and hash code, and there is no way to test f

[2022-09-19 10:01] jdegoes opened #1511 "Optimize Headers#get"
**Is your feature request related to a problem? Please describe.**

`Headers#get` has a quick and dirty implementation that is extremely inefficient. This method is intended to get the first header having a certain name.

**Describe the solution you'd like**

Implement `Headers#get` by implementing it in the subtypes of `Headers`, which is about as fast as we can get without having an index. Take

[2022-09-19 10:03] jdegoes commented on #1499
@987Nabil `Doc` is just intended to allow the user to write additional snippets of (possibly) formatted text, which appear in-line in the OpenAPI generated documentation.

In many places in OpenAPI, we can embed Markdown or HTML, and in some places, I think, only plaintext is supported.

I will create a ticket to add `toMarkdown`. Until then, I believe `CommonMark` supports HTML so the `toHTML` sh

[2022-09-19 10:04] jdegoes commented on #1499
@987Nabil By the way, I am not sure that the data types in `OpenAPI` use `Doc` correctly. In fact, I am pretty sure they do not. We should aim to incorporate `Doc` into the OpenAPI data types wherever any formatted text is supported.

We should not try to use `Doc` as a linkage mechanism for external docs (that is, stored externally to the generated JSON).

[2022-09-19 11:41] tusharmath commented on #1510
There should be a case-insensitive option also for all the operators.
We can pass an optional boolean or create specific operators like - `iequals, icompare, icontains` etc.

[2022-09-19 11:46] jdegoes commented on #1510
Good suggestion, maybe:

[code]

[2022-09-19 11:51] jdegoes commented on #1490
👍

[2022-09-19 11:54] frekw commented on #1505
@chaotic3quilibrium something similar to this should work:

[code]

[2022-09-19 12:50] jdegoes opened #1515 "Get benchmarks running on CI and fail the build on any performance regression"
**Is your feature request related to a problem? Please describe.**

In order to both encourage broad contributions, as well as maintain performance of ZIO HTTP, it is necessary to both include benchmarks as part of CI, and fail the build if some degradation is detected.

**Describe the solution you'd like**

Have benchmarks run reliably as part of CI (even on pull requests submitted on forks!), id

[2022-09-19 13:33] changzhiwin commented on #1473
Thanks, it's really confuse me. Though I fix this locally by  using `publishLocal ` command(both `zio-http` and `zio-http-logging`).

[2022-09-19 13:44] jakubjanecek commented on #1511
I'd like to give this a try.

[2022-09-19 15:03] #1511 closed, assigned to nobody

[2022-09-19 18:50] jdegoes opened #1520 "Implement code generator that takes OpenAPI and generates zio.http.api.EndpointSpec code"
**Is your feature request related to a problem? Please describe.**

Some companies begin with OpenAPI, and then proceed to implement a server that satisfies the OpenAPI specification; then they will modify the OpenAPI specification when a change is necessary, and then re-implement the server.

**Describe the solution you'd like**

In order to support this _spec-first_ driven approach to API develo

[2022-09-19 18:52] jdegoes opened #1521 "Implement a code generator that takes protobufs and generates zio.http.api.EndpointSpec values"
**Is your feature request related to a problem? Please describe.**

Some companies begin with protobufs for gRPC, and then proceed to implement a server that satisfies the protobuf specification; then they will modify the protobuf specification when a change is necessary, and then re-implement the server.

**Describe the solution you'd like**

In order to support this _spec-first_ driven approach

[2022-09-19 18:56] jdegoes opened #1522 "Implement a code generator that takes Smithy spec and generates zio.http.api.EndpointSpec values"
**Is your feature request related to a problem? Please describe.**

Some companies begin with Smithy specifications, and then proceed to implement a server that satisfies a given Smithy specification; then they will modify the Smithy specification when a change is necessary, and then re-implement the server.

**Describe the solution you'd like**

In order to support this _spec-first_ driven approa

[2022-09-19 20:40] jdegoes opened #1524 "Improve headers codecs in zio.http.api to operate on structured data"
**Is your feature request related to a problem? Please describe.**

The header inputs, which one can construct using `zio.http.api.HttpCodec`, and which are defined in `/src/main/scala/zio/http/api/HeaderCodecs.scala`, currently produce (/accept) a `String` value, which is unstructured.

Unstructured data is more difficult to work with and may lead to protocol errors if the user does not happen to

[2022-09-19 20:42] jdegoes commented on #1505
Maybe we can add `Server#stop` method, which stops the server and releases resources early. Of course, this calls into question what `Server#install` should do in the event the server is already shut down.

[2022-09-19 20:51] jdegoes commented on #1294
I think #1505 suggests we add `Server#shutdown` so let's track this issue there.

[2022-09-19 20:51] #1294 closed, assigned to nobody

[2022-09-19 20:54] jdegoes commented on #1455
@tusharmath I think it's `O(n*m)` where `m` is the path length and `n` is the number of routes. Given the path length is effectively capped to 2k for any route, you can treat `m` as a constant, making it `O(n)` in the number of routes, which can be reduced to `O(log n)` with a trie of path segments.

I see that Gin already implemented this performance trick, but as far as I can see, it is unique i

[2022-09-19 20:54] #1455 closed, assigned to nobody

[2022-09-19 20:57] jdegoes opened #1525 "Create ZIO HTTP TestKit module to help with testing"
**Is your feature request related to a problem? Please describe.**

The current version of ZIO HTTP does not provide a testkit, which means that users are on their own for testing.

**Describe the solution you'd like**

Providing `TestServer` and `TestClient` implementations of the `zio.http.Server` and `zio.http.ZClient` interfaces. These test versions would operate similar to the test implementa

[2022-09-19 20:59] jdegoes opened #1526 "Comprehensively review every API to ensure completeness, orthogonality, and ZIO idioms"
**Is your feature request related to a problem? Please describe.**

As the project entered the ZIO organization, similarity to existing ZIO APIs is an expectation.

**Describe the solution you'd like**

Before an official 1.0 release, the API should be comprehensively reviewed by a pair of core ZIO contributors to ensure every API is complete, orthogonal, and ZIO idiomatic.

**Describe alternative

[2022-09-19 21:02] jdegoes opened #1527 "Support streaming in Client"
**Is your feature request related to a problem? Please describe.**

Many APIs provide very large responses, for example, S3, in which it is possible to download a large file or stream a video.

**Describe the solution you'd like**

Comprehensive, performant, and rock-solid support for streaming in Client.

**Describe alternatives you've considered**

None.

**Additional context**

Need scope.

[2022-09-19 21:03] jdegoes opened #1528 "WebSocket architectural & feature improvements"
**Is your feature request related to a problem? Please describe.**

Ideally WebSockets would be more thoroughly integrated into ZIO HTTP, with a more comprehensive feature set (e.g. sending a message to a client before receiving one), and with fewer data types in ZIO HTTP.

**Describe the solution you'd like**

Unknown.

**Describe alternatives you've considered**

None.

[2022-09-19 21:04] jdegoes opened #1529 "Comprehensive test suite for ZIO HTTP API endpoints"
**Is your feature request related to a problem? Please describe.**

`zio.http.api` lacks tests for client and server, for happy and unhappy paths.

**Describe the solution you'd like**

Develop one test suite for the client, one for the server, which test both happy and unhappy paths.

**Describe alternatives you've considered**

None.

**Additional context**

Goal should be relatively high level

[2022-09-19 21:07] jdegoes opened #1530 "Introduce benchmark for ZIO HTTP API"
**Is your feature request related to a problem? Please describe.**

`zio.http.api` has no benchmark. A variety of benchmarks should be added so that optimization may proceed in a data-driven way.

**Describe the solution you'd like**

 - [x] A benchmark that tests simple request/response of small data
 - [ ] A benchmark that tests simple request/response of large data
 - [x] A benchmark that tests

[2022-09-19 21:08] jdegoes opened #1531 "Wholly intern benchmarking"
**Is your feature request related to a problem? Please describe.**

All benchmarks should live inside the ZIO organization.

**Describe the solution you'd like**

Move benchmarks into the ZIO organization.

**Describe alternatives you've considered**

None.

[2022-09-19 21:08] jdegoes opened #1532 "Prepare for ZIO HTTP 1.0 official release"
The ZIO 1.0 official release should indicate an extended period of binary stability, including ample support for bug fixes, performance improvements, and backward-compatible feature extensions, allowing a healthy ecosystem to grow around the project, and encouraging commercial adoption.

This ticket tracks remaining work to be done before `dev.zio` `zio-http` 1.0 can be officially christened.

**N

[2022-09-20 04:05] tusharmath commented on #1528
The current API allows sending a message without waiting for one from the client (collect on handshake event).
ChannelEvents are a bit complex, but can give a lot of performance gains while doing broadcasts.
I agree it's not the most elegant though. I think we can enhance it by attaching a middleware.

[2022-09-20 04:09] 987Nabil commented on #1499
I think it supports a subset of html. I could do the `toHTML`, but it might not be valid.

[2022-09-20 05:12] 987Nabil commented on #1499
@jdegoes There are some places in the API, that define fields as type of `Any`. In the current Scala code, this is impl. for two fields of `Link`. The `requestBody: Any` and `parameters: Map[String, Any]`.
I am not really sure how to render this and even if this is a good definition in the code itself. Maybe it would be ok to be more restrictive than what swagger allows?
Maybe this is something to

[2022-09-20 08:46] Fristi commented on #1532
Looks great! What's the situation around security advisories/pen testing (discovery of vulnerabilities) ?

[2022-09-20 11:38] jdegoes opened #1535 "Security audit of ZIO HTTP"
**Is your feature request related to a problem? Please describe.**

ZIO HTTP relies mostly on Netty, and therefore (largely) shares the security considerations of this project, while also benefiting from the large amount of work that has been done for Netty to identify and fix vulnerabilities and exploits.

That said, ZIO HTTP builds on and extends Netty in several ways that may introduce new vuln

[2022-09-20 11:39] jdegoes commented on #1532
@Fristi Added #1535

[2022-09-20 14:29] #1503 closed, assigned to devsprint

[2022-09-20 17:04] jdegoes commented on #1525
@swoogles Thank you! 🙏

[2022-09-20 18:00] jdegoes commented on #1531
See [here](https://github.com/zio/FrameworkBenchmarks)

[2022-09-20 18:07] jdegoes commented on #1501
@afsalthaj Let's work on it together, if you don't mind! Will be done twice as fast. 😆

[2022-09-20 18:50] kitlangton commented on #1530
@adamgfraser and I are taking this

[2022-09-20 22:35] fokot opened #1539 "Http.catchAllCause"
**Is your feature request related to a problem? Please describe.**
`Http.catchAllDefect` gives me ability to handle `Throwable`s. But they do not have nice stack trace information as `Cause`. It would be nice to have method to handle `Cause` as well. Now when I want to log the error in an application I will log every endpoint separately as there I can do `ZIO.foldCauseZIO` and get tracing informat

[2022-09-21 00:10] adamgfraser commented on #1539
I'm working on this.

[2022-09-21 03:22] jdegoes commented on #1530
🙏

[2022-09-21 03:25] #1539 closed, assigned to adamgfraser

[2022-09-21 04:18] afsalthaj commented on #1501
For sure. :)

On Tue, 20 Sep 2022 at 11:37 pm, John A. De Goes ***@***.***>
wrote:

[2022-09-21 11:19] devsprint commented on #1527
In current implementation, Client streaming it is enabled when the netty's `ObjectAggregator` is not present in the pipeline.

[2022-09-21 12:48] devsprint commented on #1527
- [ ] Client response streaming should be enabled based on `Transfer-Encoding` header value.
- [ ] Add implementation for Client Request streaming - send data to server (POST, PUT) using chunked request.

[2022-09-21 13:29] ghidei commented on #1469
Refactorings done/in progress:
https://github.com/zio/zio-http/pull/1513
https://github.com/zio/zio-http/pull/1536
https://github.com/zio/zio-http/pull/1544

Todo:
Fix the flaky tests.

[2022-09-21 22:31] jdegoes commented on #1501
In our first collaboration, we discussed making the following changes:

1. Adding a new type parameter to `In` to track how the `In` is generated. This would allow us to impose constraints such as:
   1. This `In` can only be composed with that `In` (e.g. `path1 / path2`).
   2. This `In` has already set the body and cannot be composed with another one that has also set the body.
   3. This `In` m

[2022-09-22 03:48] adamgfraser commented on #1501
One idea:

[code]

I'm worried about declarative middleware having an `R` and an `E` type parameter since `API` doesn't so it seems like we may need to get rid of that. Also need to think about how codecs would work with this because it seems like they can transform the `In` and `Out` types rather than just adding constraints to it.

[2022-09-22 12:38] narma commented on #1532
Great plan!

Should support of multipart form data included to this milestone?

Currently we use zio-http, but for uploading files via multipart we are forced to use akka-http as a small separate component.

[2022-09-22 13:22] vigoo opened #1549 "Expose netty's max header size parameter to the server (and client) configuration"
**Is your feature request related to a problem? Please describe.**
If the client sends a bearer authorization token which is too long (more than ~8k) then Netty drops that header all the remaining headers. The length limitations is applies to the whole header section.

**Describe the solution you'd like**
This is configurable in Netty through `HttpRequestDecoder`, it is just now using the default

[2022-09-22 17:05] tobia80 commented on #1524
Added https://github.com/zio/zio-http/pull/1551 for acceptCharset

[2022-09-22 18:52] #1549 closed, assigned to nobody

[2022-09-23 10:30] devsprint commented on #1524
Added #1552 for CacheControl

[2022-09-23 14:22] fokot commented on #1413
Implemented in #1538

[2022-09-23 14:22] #1413 closed, assigned to nobody

[2022-09-23 21:32] fokot opened #1559 "Multipart form data server support"
**Is your feature request related to a problem? Please describe.**
Server can accept and parse Multipart form data requests.

**Describe the solution you'd like**
Something nice

**Describe alternatives you've considered**
We can either use https://netty.io/4.0/api/io/netty/handler/codec/http/multipart/InterfaceHttpPostRequestDecoder.html or parse it ourselves in ZIO streams.

[2022-09-23 21:33] fokot commented on #1532
@narma It can be dealbreaker. We switched once from `uzhttp` to `http4s` because of multipart form data support. I created an issue for that #1559

[2022-09-23 21:34] fokot opened #1560 "Multipart form data client support"
**Is your feature request related to a problem? Please describe.**
Client can send multipart POST requests

[2022-09-23 21:39] fokot commented on #1559
It looks it needs to be added here https://github.com/zio/zio-http/blob/main/zio-http/src/main/scala/zio/http/netty/server/ServerInboundHandler.scala#L124

[2022-09-23 21:46] fokot commented on #1559
I will work on it

[2022-09-23 21:58] jdegoes commented on #1532
Added multipart form data

[2022-09-26 13:51] changzhiwin opened #1567 "Is some difficult to custom bind port?"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when configure bind port, can't find an easy way to do that.

what I want:
[code]

what I can find:
[code]

[2022-09-26 22:11] Wosin commented on #1567
One thing I can think of is to create a custom layer that creates `ServerConfig` from `AppConfig` or even do mapping in `provide`:
[code]

But I agree that it would be cool to be able to this more idiomatically.

[2022-09-27 01:53] changzhiwin commented on #1567
@Wosin yes, this works, but too redundant for this purpose.

[2022-09-27 03:53] afsalthaj commented on #1501
This might be super close to what Adam said.
That we could add two types of Middleware, one is Executable Middleware, and the other an IntrospectableMiddleware.

Conceptually

[code]

Do we need any other middleware other than HttpMiddleware ?

Hopefully the answer is yes. In fact the very notion of `HttpMiddleware` (executable) can be simplified for developers.
Example:

Instead of

[code]

We co

[2022-09-27 03:57] afsalthaj commented on #1501
I had to edit the above snippet a couple of times :)

[2022-09-27 04:37] 8bitreid opened #1569 "Better Example With Layers"
**What is not easy to do right now?**
It is not clear how to get started using zhttp with a dependency for your HttpApp or something for your `R`

**Describe the solution you'd like**
A simple example of HttpApp where there is an `R` that does the "logic" doesn't have to be anything complex.

**Why is it important?**
This is a great project, but to newcomers the idea of returning raw string text o

[2022-09-27 13:55] jdegoes commented on #1501
Here's the changes I was envisioning being made to `API`:

[code]

(In addition to the changes described above to `In` and `Out`.)

Now we have a precise description of what middleware requires.

Then we can further divide middleware into: `MiddlewareSpec[In, Out]`, which is a bundle of `middlewareIn` / `middlewareOut` (in fact, we should store `MiddlewareSpec` in `API` as a single logical entity,

[2022-09-27 13:55] jdegoes commented on #1501
cc @adamgfraser @afsalthaj

[2022-09-27 14:00] jdegoes commented on #1501
@adamgfraser I like that direction. To use my names, `MiddlewareSpec` cannot use `E` or `R`, and may only describe:

1. What the middleware requires from the request
2. What the middleware adds to the request (does this make sense? Maybe for middleware chaining???)
3. What the middleware requires from the response (does this make sense? Maybe for middelware chaining??)
4. What the middleware adds

[2022-09-27 14:23] jakubjanecek commented on #1524
Created #1576 for `Origin`.

[2022-09-27 18:42] #1499 closed, assigned to nobody

[2022-09-27 18:44] #1529 closed, assigned to nobody

[2022-09-27 18:46] #1510 closed, assigned to nobody

[2022-09-27 19:24] jakubjanecek commented on #1524
Created #1581 for `Accept`.

[2022-09-27 19:25] jdegoes commented on #1501
Actually, `In` is already sufficient for Middleware by itself because it's invertible. So we can simplify to:

[code]

In fact maybe we don't need `Out` if we have constrained `In`:

[code]

Now a handler for middleware must accept `MiddlewareIn` (which we can construct from query and headers) and produce `MiddlewareOut`, which we can translate to appropriate headers.

Factoring out `MiddlewareSpe

[2022-09-27 21:13] Wosin commented on #1567
Agreed.

[2022-09-28 05:22] afsalthaj commented on #1501
Working with these models already

[2022-09-28 05:47] guersam commented on #1501
Question: will this usecase be described using the new encoding?

An authentication middleware
1. Reads the auth token from the header
2. Attempts to load a login session from the session storage with the token
3. If the session is invalid, reject the request with a 401 response
4. Otherwise produce the retrieved `Session` (or `User`,) so that the handler can use the valid session information in a

[2022-09-28 13:15] davidlar opened #1588 "Http client connection leak"
**Describe the bug**
When using the http client a lot, resources are eventually exhausted.
A new connection is established on every client request and they are not closed. It doesn't matter if client is reused or not.
This is tested on 2.0.0-RC11

**To Reproduce**
Run this code and check connections with ss as explained in the output.

[code]

[2022-09-28 20:23] jdegoes commented on #1501
@guersam To accomodate this use case cleanly (i.e. without fiber ref), a middleware would have to be able to produce some value that can be consumed by the handler.

I am not sure what that would look like, but we can think about it.

[2022-09-29 10:32] ccerbusca commented on #1524
Added #1593 for `Allow`

[2022-09-30 11:35] carlos-verdes commented on #1532
I may be missing something but... what is the version I should add as dependency?

I'm trying this:
[code]

I tried also:
[code]

[2022-09-30 11:41] jakubjanecek commented on #1532
`zio-http` hasn't been published under `dev.zio`: https://github.com/zio/zio-http/issues/1473#issuecomment-1247033633

Use this until it is published: https://search.maven.org/artifact/io.d11/zhttp_2.13/2.0.0-RC11/jar

[2022-10-01 09:59] afsalthaj commented on #1501
A very early stage trying to validate just the `Out` realm
https://github.com/zio/zio-http/pull/1598

[2022-10-02 03:30] afsalthaj commented on #1501
Here is an example in the draft PR on how this looks like in terms of usage

https://github.com/zio/zio-http/blob/fb9fe69b5ff61e99798b0de574607b67bb5acd4e/zio-http-example/src/main/scala/example/APIExamples.scala

[code]

It would be even ideal to have @@ at service level that inspects every API and add the middleware.

i.e

[code]
However this implies the documentation need to rely on the API tha

[2022-10-02 15:07] 987Nabil commented on #1501
@afsalthaj I think it makes sense, to offer docs based on the combination of endpoints and middleware. That said, I think that it should be possible to combine docs on a higher level. But I don't see this conflicting.

[2022-10-03 06:01] carlos-verdes commented on #1532
Thanks @jakubjanecek for that answer, however I found the API is different on zHTTP so I cloned this repo and made a `publishLocal` to unblock myself

Is there any tentative date for zio-http to be officially released under zio.dev?
I suppose I'm not the only one asking for it :)

I don't know if you can answer to this but, is the support for WebSocket covering traditional Socket communication als

[2022-10-03 06:34] carlos-verdes commented on #1532
Just in case is helpful I had to do the next steps to publish in local:
1 - edit the scala version to Scala3
2 - set publishSettings(true) for zioHttpLogging project
3- run publishLocal on both projects (first you have to chose the project obviously)
4 - copy on my local ivy the folder without the commit version (I didn't dedicate time to fix the version on configuration)

For the first two steps

[2022-10-06 14:31] wpoosanguansit commented on #1524
Added https://github.com/zio/zio-http/pull/1632 for Connection

[2022-10-07 12:33] nartamonov opened #1615 "In some cases `zio-http` generates invalid `Set-Cookie` header"
**Describe the bug**

If http app responds with a cookie that defines expiration date, the whole value of `Set-Cookie` header are placed inside double quotes. It violates the syntax of `Set-Cookie` so that HTTP agents can't parse cookie correctly.

**To Reproduce**

Let's implement simple http app that responds with 200 OK and some cookie with expiration date defined:

[code]

That http app genera

[2022-10-07 13:47] nartamonov commented on #1615
I just realized that the problem no longer exists in SNAPSHOT 😆

[2022-10-07 13:47] #1615 closed, assigned to nobody

[2022-10-12 09:45] ratoshniuk opened #1623 "Impossible to finish stream using gzip middleware"
**Describe the bug**
After updating tapir to 1.1.2 we use zio http as backend. We end up with an issue during streaming gzip. stream never ends until stopping server at all.

**To Reproduce**
[code]

Thanks in advance

[2022-10-12 10:42] ratoshniuk commented on #1623
found that we put content-type in response. after that it was infinitely looping

[2022-10-12 10:42] #1623 closed, assigned to nobody

[2022-10-12 18:45] yisraelU opened #1624 "isolate host in URL"
It would be nice to have the ability to modify the path without needing to know the hostname .
currently the setPath method will inadvertently override the host with the new path
A suggestion would be to check if a relative path was passed in and  the existing path is absolute to combine them appropriately

[2022-10-14 07:13] 987Nabil opened #1627 "Authentication breaks, if you combine `Http`s with different ways to authenticate"
**Describe the bug**
Combining two apps with different auth middlewares leads to unexpected 401 returns.

**To Reproduce**
This happens in version `2.0.0-RC10`
Let's assume we have have 3 Http instances, one without auth, one with basic auth and one with oauth. We use the zio-http defined auth middleware.
Let's start a server like this
[code]
The endpoints of the first apps two behave correctly, b

[2022-10-14 07:15] 987Nabil commented on #1627
I think we should just make sure, that this is not the case anymore in the next release. Since `Middleware` is in a heavy change process, I suggest to only test if this error is gone after the changes are done.

[2022-10-14 10:03] jdegoes commented on #1627
It looks like middleware can fail and that these failures are not adequately handled by `++`.

[2022-10-14 10:17] jdegoes commented on #1588
Hopefully already fixed with @vigoo's rewrite. 👍

[2022-10-14 10:41] jdegoes commented on #1567
We can create an overloaded `Server.serve` that binds to the specified port. 👍

[2022-10-14 11:38] jdegoes commented on #1522
Possibly, this could be done as a plug-in to `smithy4s`.

[2022-10-14 12:50] vadeg opened #1628 "Improve operations with headers in Middleware"
**Is your feature request related to a problem? Please describe.**
When using `Middleware.addHeader` function it is unclear where the header will be added: to request or to response. Without finding a simple example which is related to Middleware in general where in one line it states:

and without digging dive how exactly Middleware works it is difficult to grasp the idea of this.

**Describe the

[2022-10-14 15:10] ccerbusca commented on #1524
Added #1630 for Accept-Language

[2022-10-14 21:40] geoffjohn11 commented on #1524
Added https://github.com/zio/zio-http/pull/1640 for Host

[2022-10-16 11:39] wpoosanguansit commented on #1524
Added https://github.com/zio/zio-http/pull/1644 for Expires

[2022-10-16 12:17] wpoosanguansit commented on #1524
Added https://github.com/zio/zio-http/pull/1645 for AccessControlMaxAge

[2022-10-17 01:46] tusharmath commented on #1628
We can alternatively also do something like `Middleware.addHeader[Request]` and `Middleware.addHeader[Response]`.

[2022-10-17 01:52] tusharmath commented on #1532
@carlos-verdes I have updated the readme with the installation instructions. https://github.com/zio/zio-http/blob/main/README.md#stable

[2022-10-17 03:27] wpoosanguansit commented on #1524
Added https://github.com/zio/zio-http/pull/1648 for Content-Encoding

[2022-10-17 16:23] carlos-verdes commented on #1532
The problem with the stable version (correct me if I'm wrong) is that it has the old API and last time I could not find the documentation, that's why I'm working with a local clone until official release is ready.

From the other side I understand (correct me again please) that I can use a SNAPSHOT dependency directly from public repository (so I can use the latest API and I don't need local copie

[2022-10-18 01:53] changzhiwin commented on #1567
@jdegoes It's not easy thought overloaded `Server.serve`. The dependence of `ServerConfig` can't modify globally.
`ServerConfig`  >>> `NettyDriver`
`ServerConfig` >>> `Server`

[2022-10-18 10:33] #1479 closed, assigned to vigoo

[2022-10-18 21:54] sideeffffect opened #1661 "Implement a code generator that takes OpenAPI spec and generates zio.http.api.EndpointSpec values"
**Is your feature request related to a problem? Please describe.**

Some companies begin with OpenAPI specifications, and then proceed to implement a server that satisfies a given OpenAPI specification; then they will modify the OpenAPI specification when a change is necessary, and then re-implement the server.

**Describe the solution you'd like**

In order to support this spec-first driven appro

[2022-10-19 11:08] geoffjohn11 commented on #1524
Is anyone looking into Server header?

[2022-10-21 16:47] geoffjohn11 commented on #1524
Added https://github.com/zio/zio-http/pull/1674 for server header

[2022-10-22 13:53] julioselva commented on #1627
Hi @987Nabil. Did you find any workaround?

[2022-10-22 16:26] 987Nabil commented on #1627
No, I didn't

[2022-10-23 06:43] ploddi commented on #1473
`zio-http` snapshots can be found here -- https://oss.sonatype.org/#nexus-search;quick~zio-http_2.13
but `zio-http-logging` snapshots are missing still and it will leads to sbt errors.

Can `zio-http-logging` snapshots be also published, so we at least can use snapshot versions until official release?

[2022-10-23 09:02] changzhiwin commented on #1473
@ploddi Wait a moment, and using `publishLocal` for current development.

[2022-10-24 20:11] jakubjanecek commented on #1524
I'm working on `Authorization` header. I'll submit a PR soon.

[2022-10-25 13:05] jdegoes commented on #1628
👍 to renaming `addResponseHeader`.

I think there may be applications for adding a header to the request, but it would only be for pre-processing by other middleware, pretty much. If it's important we'll have to consider that in light of declarative middleware.

[2022-10-25 13:23] jdegoes commented on #1524
Any individual item above will count for a ticket in the _ZIO Hackathon 2022_, for those of you participating.

[2022-10-25 15:48] jdegoes opened #1685 "Improve performance of TextCodec#isDefinedAt"
`TextCodec#isDefinedAt` needs to be optimized in a performant fashion for all subtypes. Currently, the method uses a slow implementation for the subtypes `UUIDCodec` and `BooleanCodec`.

These implementations should be rewritten so that they do not allocate any memory (directly or indirectly), but rather validate that a string is a UUID or boolean by step-by-step iteration through characters in th

[2022-10-25 19:19] jgulotta opened #1687 "URL Relative Resolution"
[RFC 3986 Section 5.2](https://www.rfc-editor.org/rfc/rfc3986#section-5.2) defines how to resolve a URL against a base URL

A `URL` method supporting this would be handy for following redirects via the `Location` header

For comparison, see [OpenJDK's `URI.resolve`](https://github.com/openjdk/jdk/blob/79597f1ea6844f374beeeba219719cd9d5fe7d03/src/java.base/share/classes/java/net/URI.java#L2138) and

[2022-10-25 22:33] Wosin commented on #1628
Are we also going to rename all specific methods too? E.g. `Middleware.withAge` will also add `Age` header to the response only.

[2022-10-26 17:40] jdegoes opened #1689 "Implement an existing ZIO HTTP middleware in terms of new declarative middleware API"
**Background**

ZIO HTTP has long supported _middleware_, which are functions that transform one `Http` into another `Http`. Middleware allow an orthogonal way of decomposing complex server functionality into modular aspects--such as logging, metrics, authentication, and so forth.

The existing middleware machinery lives in `zio.http.Middleware` and the associated companion object, with many concr

[2022-10-26 18:26] jdegoes commented on #1687
This should be done in the method `URL#++`, which composes two URLs together.

This ticket can describe ensuring the resolution as implemented currently is compliant with the specified RFC.

[2022-10-26 18:45] jdegoes opened #1691 "Implement zio.http.api.internal.RichTextCodec#decode"
**Background**

`RichTextCodec` defines a codec for some structured type `A`, which may be decoded from a string, or encoded to a string. Codecs can be thought of as combinations of two things: a parser, which can produce an `A` from a string input (decoding); and a printer, which can render an `A` to a string (encoding).

**Task**

This task is to implement the `decode` method of `RichTextCodec`.

[2022-10-26 18:46] jdegoes opened #1692 "Implement zio.http.api.internal.RichTextCodec#encode"
**Background**

`RichTextCodec` defines a codec for some structured type `A`, which may be decoded from a string, or encoded to a string. Codecs can be thought of as combinations of two things: a parser, which can produce an `A` from a string input (decoding); and a printer, which can render an `A` to a string (encoding).

**Task**

This task is to implement the `encode` method of `RichTextCodec`.

[2022-10-26 18:47] jdegoes opened #1693 "Implement zio.http.api.internal.RichTextCodec#describe"
**Background**

`RichTextCodec` defines a codec for some structured type `A`, which may be decoded from a string, or encoded to a string. Codecs can be thought of as combinations of two things: a parser, which can produce an `A` from a string input (decoding); and a printer, which can render an `A` to a string (encoding). However, they are more powerful than this, because they are pure data, it is

[2022-10-27 09:49] ioleo opened #1695 "Middleware to wrap handler effect"
**Describe the bug**
Introduced tracing with `zio-telemetry`, I wanted to add a top-level span (for all requests) that handles incoming trace headers.
To avoid re-writing the same logic in every endpoint. It does work in the sense - the span is created and reported.
However any span within endpoints is not "connected" to this top-level span (in jaeger UI the appear as seperate traces).

**To Repro

[2022-10-27 09:51] ioleo commented on #1695
Middleware implementation:
[code]

[2022-10-27 14:10] dev-andrey commented on #1689
I would like to work on this issue. I can start with the first six:
  cors - parameters: [R, E](config: CorsConfig = CorsConfig())
  basicAuth - parameters: (f: Credentials => Boolean)
  basicAuth - parameters: (u: String, p: String)
  basicAuthZIO - parameters: [R, E](f: Credentials => ZIO[R, E, Boolean])
  bearerAuth - parameters: (f: String => Boolean)
  bearerAuthZIO - parameters: [R, E](f: St

[2022-10-27 14:20] afsalthaj commented on #1689
👍🏻

On Fri, 28 Oct 2022 at 1:11 am, Andrey Lebedev ***@***.***>
wrote:

[2022-10-27 14:24] swoogles commented on #1689
@jdegoes should I split this list up into multiple issues that can be assigned to people?

I'm hesitant to assign this one to Andrey since there are so many others that are still up for the taking.

[2022-10-27 14:38] rajcspsg commented on #1692
@jdegoes I would like to work on this

[2022-10-27 14:40] swoogles commented on #1692
@rajcspsg Great! If you want to discuss your ongoing work, please post in here: https://discord.com/channels/724305612166660202/903694270639263775

[2022-10-27 15:21] jeffwilde commented on #1689
@swoogles , I think that's the right move. I'd like to work on one of these if broken up or tracked separately.

[2022-10-27 16:05] cyb3rn3t1c1an commented on #1524
I'd like to work on `accessControlAllowMethods`

[2022-10-27 16:08] vder commented on #1689
Ok I'll try to overcome the following ones:
addHeader - parameters: (header: Header)
addHeader - parameters: (name: CharSequence, value: CharSequence)
addHeaders - parameters: (headers: Headers)
removeHeader - parameters: (name: String)
removeHeaders - parameters: (headers: List[String])

and then we will see whats next

[2022-10-27 16:23] Smudgey commented on #1689
I would like to work on this issue.

I will attempt:
withAccept - parameters: (value: CharSequence)
withAcceptEncoding - parameters: (value: CharSequence)
withAcceptLanguage - parameters: (value: CharSequence)
withAcceptPatch - parameters: (value: CharSequence)
withAcceptRanges - parameters: (value: CharSequence)

and see how I get on

[2022-10-27 16:28] bburdiliak commented on #1689
I would go with:

 withContentBase - parameters: (value: CharSequence)
 withContentDisposition - parameters: (value: CharSequence)
 withContentEncoding - parameters: (value: CharSequence)
 withContentLanguage - parameters: (value: CharSequence)
 withContentLength - parameters: (value: Long)

[2022-10-27 16:42] gregor-rayman commented on #1693
I'd like to work on this

[2022-10-27 17:12] jpablo commented on #1691
I'd like to work on this

[2022-10-27 17:16] swoogles opened #1700 "Middleware Rewrites - Cors & Auth"
Part of https://github.com/zio/zio-http/issues/1689

- [ ] `cors` - parameters: `[R, E](config: CorsConfig = CorsConfig())`
- [ ] `basicAuth` - parameters: `(f: Credentials => Boolean)`
- [ ] `basicAuth` - parameters: `(u: String, p: String)`
- [ ] `basicAuthZIO` - parameters: `[R, E](f: Credentials => ZIO[R, E, Boolean])`
- [ ] `bearerAuth` - parameters: `(f: String => Boolean)`
- [ ] `bearerAuth

[2022-10-27 17:16] jmgimeno commented on #1624
Maybe my understanding of the code is completely wrong, but I'm unable to see how `setPath` is able to **inadvertently override the host with the new path**.

[2022-10-27 17:17] swoogles commented on #1689
Please comment on this ticket, so that I can assign you- https://github.com/zio/zio-http/issues/1700

[2022-10-27 17:19] swoogles opened #1701 "Middleware Rewrites - add/set/remove Headers"
Part of #1689

- [x] `addHeader` - parameters: `(header: Header)`
- [ ] `addHeader` - parameters: `(name: CharSequence, value: CharSequence)`
- [x] `addHeaders` - parameters: `(headers: Headers)`
- [ ] `removeHeader` - parameters: `(name: String)`
- [ ] `removeHeaders` - parameters: `(headers: List[String])`
- [ ] `setHeaders` - parameters: `(headers: Headers)`

[2022-10-27 17:19] dev-andrey commented on #1700
I would like to work on this issue

[2022-10-27 17:19] BalduinLandolt commented on #1689
I could give those a shot:

- customAuth - parameters: ( verify: Headers => Boolean, responseHeaders: Headers = Headers.empty, responseStatus: Status = Status.Unauthorized)
- customAuthZIO - parameters: [R, E](verify: Headers => ZIO[R, E, Boolean], responseHeaders: Headers = Headers.empty, responseStatus: Status = Status.Unauthorized)

(though that would actually belong to #1700 content-wise)

[2022-10-27 17:21] swoogles opened #1702 "Middleware Rewrites - withAccept*"
Part of #1689

- [x] `withAccept` - parameters: `(value: CharSequence)`
- [x] `withAcceptEncoding` - parameters: `(value: CharSequence)`
- [x] `withAcceptLanguage` - parameters: `(value: CharSequence)`
- [x] `withAcceptPatch` - parameters: `(value: CharSequence)`
- [x] `withAcceptRanges` - parameters: `(value: CharSequence)`

[2022-10-27 17:22] swoogles commented on #1689
@Smudgey  Please comment on this ticket so that I can assign you - https://github.com/zio/zio-http/issues/1702

[2022-10-27 17:23] Smudgey commented on #1702
I am working on this ticket

[2022-10-27 17:25] swoogles opened #1703 "Middleware Rewrites - withContent*"
Part of #1689

- [x] `withContentBase` - parameters: `(value: CharSequence)`
- [x] `withContentDisposition` - parameters: `(value: CharSequence)`
- [x] `withContentEncoding` - parameters: `(value: CharSequence)`
- [x] `withContentLanguage` - parameters: `(value: CharSequence)`
- [x] `withContentLength` - parameters: `(value: Long)`
- [x] `withContentLocation` - parameters: `(value: CharSequence)`

[2022-10-27 17:29] arumus commented on #1687
I can take this up.

[2022-10-27 17:36] swoogles commented on #1689
@bburdiliak Can you comment on this ticket so that I can assign you - https://github.com/zio/zio-http/issues/1703

[2022-10-27 17:37] yisraelU commented on #1624
@jmgimeno
Because Host is not stored in the URL,rather in the Path. Path is a union of RelativePath and AbsolutePath
If you have a AbsolutePath stored and you wish to change the path not the host , setPath will override the Path reference and set it to a RelativePath
https://github.com/zio/zio-http/blob/0d3527faa3eb460a0715f79788d59b2c4afe6b23/zio-http/src/main/scala/zio/http/URL.scala#L72

[2022-10-27 17:40] swoogles commented on #1689
Agreed. @dev-andrey Do you want to tackle these extra 2 entries? I will add them to your ticket if so.

@BalduinLandolt  Are there any others you're interested in?

[2022-10-27 17:42] dev-andrey commented on #1689
@swoogles yeah, I don't mind picking that extra middleware as they seem related to auth

[2022-10-27 17:45] BalduinLandolt commented on #1689
@dev-andrey withAuthorization and withBasicAuthorization  may fall under those too (judging from the name, haven't looked at the code)

sure, I'll find something. Will let you know once I'm decided

[2022-10-27 17:48] zeal18 commented on #1661
I've started working on this before, but will try to accomplish during the hackathon

[2022-10-27 17:53] jmgimeno commented on #1624
Sorry to insist, but I'm unable to find the `host` in the `path`.

In the code below, which are extracts of the code I've found on package `zio.http`, I see that `host` is encoded in a `Location.Absolute` which is in the `kind` field of the `URL`, not in the `path`.

And the `Path` is a `Vector` of `Segment`s, each one containing only `text`.

[code]

[2022-10-27 18:12] lemony312 commented on #1524
I can take `retryAfter`

[2022-10-27 18:22] BalduinLandolt commented on #1689
@swoogles I give `requestLogging` a try. Not sure how far I'll come, though

[2022-10-27 18:37] tusharmath commented on #1525
I think it makes sense to have a test client however I am not sure if there is any value in adding a test server.
The server is typically implemented using `Http` which is a ZIO function. One can simply call the function and run the http app directly in the test.

[2022-10-27 19:11] arumus commented on #1687
How about just using the fromString constructor to construct the location URL object then appending them to the base ?  Believe it does all the spec validation as part of the construction.

```ZIO.fromEither(URL.fromString(location)).map(loc => base ++ loc)```

[2022-10-27 19:19] tusharmath opened #1705 "Re-write `Doc.toHtmlSnippet` using `zio.http.html.Html`"
Current code is unmaintainable as it uses string writer to convert Doc to Html.
Instead it's proposed that we use the built-in API to generate HTML. This should make the code a lot more maintainable.

[2022-10-27 19:28] arumus commented on #1490
going to attempt this

[2022-10-27 21:00] walesho commented on #1524
Working on `location`

[2022-10-27 21:03] BalduinLandolt commented on #1689
@swoogles I started working on `requestLogging` together with @irinaschubert, but we reached a point where we're not so sure anymore if it's currently even possible at all (without considerable regressions to the current implementation): Currently, lot's of things are/can be logged, both from the incoming Request and the outgoing Response. But we didn't find a way to get a hold on the Request at a

[2022-10-27 21:10] swoogles commented on #1689
@jdegoes I think you've got more insight to the current state of affairs here ^

[2022-10-27 21:16] sf17490 commented on #1524
I'd like to work on ```warning```

[2022-10-27 21:24] jgulotta commented on #1687
I think that is not a particularly friendly API and `++`/construction is not compliant with relative resolution. I'm not sure composition via `++` has the same semantics for relative resolution either. Specifically, but not necessarily limited to

- The `Location` header comes back as a `CharSequence`, which means using `fromString` at minimum requires a noisy `toString` call, and at worst an allo

[2022-10-27 22:42] 987Nabil commented on #1521
@jdegoes @adamgfraser Is this not what zio-grpc is doing, just adjusted to the new API design?
Should this be added to zio-http? Or should this live in zio-grpc?
If it would be added to zio-http, would we use scalapb to parse the messages need for the service?
Or would we just create an interface/trait for the messages? I think messages to case classes makes more sense.

[2022-10-27 22:49] jpablo commented on #1691
Just wanted to clarify on the expected behavior of
[code]
When the Codec is
[code]

Is the intention to only allow a single character in the bitset, as in
[code]
or will it be possible to create a `CharIn` with multiple characters?

[2022-10-27 22:51] 987Nabil commented on #1661
I guess #1520 is a duplicate
@zeal18 if you are interested, maybe we can pair on this. You can reach me also in discord. There is only one Nabil ;)

[2022-10-27 22:55] 987Nabil commented on #1703
I am on it 🙂

[2022-10-27 23:26] arumus commented on #1524
i can take `transferEncoding`

[2022-10-28 00:18] cyb3rn3t1c1an commented on #1524
I'll work on `acceptRanges`, `ifRange` and `expect`

[2022-10-28 00:35] 987Nabil commented on #1524
I am working on all content related stuff for #1703

[2022-10-28 01:43] jdegoes commented on #1691
The type on CharIn was wrong and this has been fixed. It will decode to one of the characters from the bit set.

[2022-10-28 01:46] jdegoes commented on #1521
I think we generate both the EndpointSpec and the case classes from the protobufs, and use ZIO Schema to do the encoding / decoding.

[2022-10-28 06:28] iusildra commented on #1498
I'll try to do this one

[2022-10-28 07:13] bburdiliak commented on #1703
I am on it

[2022-10-28 07:45] 987Nabil commented on #1703
@bburdiliak too late I guess 😅

[2022-10-28 09:00] bracl commented on #1624
This was my conclusion as well, I went to write a failing test first, and saw that the desired behaviour in the ticket was already happening.

This PR adds a test to prove it: https://github.com/zio/zio-http/pull/1699

[2022-10-28 09:09] bburdiliak commented on #1689
Are there any unassigned subtasks of this one?

[2022-10-28 09:32] ioleo commented on #1695
Also tried a little bit diffrent approach, trying to "lift" Http app into one that wraps all requests in tracing.

[code]

This one actually works (although feels kinda dirty).
Not sure where the `Option[E1]` error came from (that `.get` worries me, did it to quickly satisfy the compiler, but is it ever going to be `None`?)

[2022-10-28 10:03] zeal18 commented on #1661
After a conversation with @987Nabil, I still believe that this functionality should be implemented on the guardrail side which I'm going to do

[2022-10-28 11:37] swoogles commented on #1689
Hey @bburdiliak I have just been creating subtasks as people volunteer for various groups. If you want to claim a few more, I would be happy to create and assign another one.

[2022-10-28 13:48] yisraelU commented on #1624
You are right , I was misremembering.
I dont recall now how I bumped into this issue , but it seems like it was my error , I will close this issue

[2022-10-28 13:48] #1624 closed, assigned to nobody

[2022-10-28 17:24] digy opened #1723 "Don't run blocking effects on the netty's runtime"
**Is your feature request related to a problem? Please describe.**

Would like to reopen the issue https://github.com/zio/zio-http/issues/1368 since running any effect that blocks will block the whole thread.

[code]

**Describe the solution you'd like**
I think zio-http should be smarted about blocking effects such that running an effect in zio and in zio-http  have the same behavior.

**Describe

[2022-10-28 17:52] #1692 closed, assigned to rajcspsg

[2022-10-29 05:30] rajcspsg opened #1729 "Feature: Support Custom ChannelPipeline"
**Is your feature request related to a problem? Please describe.**
Right now there is only one channel pipeline defined in zio-http can be used to create http application. It would be nice if zio could support custom channel pipeline that fits the client needs.

**Describe the solution you'd like**
zio should support custom channel pipeline defined by user.

**Describe alternatives you've consider

[2022-10-29 05:48] rajcspsg opened #1730 "Feature: Async DNS Resolver for zio-http client support"
**Is your feature request related to a problem? Please describe.**
twitter [finagle](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/InetResolver.scala) and apache http client supports DSNResolver to resolve the host address into list of ip address asynchronously and concurrently  which would be used by the underlying TCP connection. This reduces dns

[2022-10-29 06:03] rajcspsg opened #1731 "Feature: Provide option to send the http request to different host other than the default one configured"
**Is your feature request related to a problem? Please describe.**
http client in netty connects to server using connect() as in below example -

[code]

one application I worked earlier uses [async-http-client](https://github.com/AsyncHttpClient/async-http-client) which supports this feature to send certain requests to different host/ip address. This is very helpful in testing the application liv

[2022-10-30 08:17] gregor-rayman opened #1737 "Constructing RichTextCodec.repeat causes stack overflow"
**Describe the bug**
Calling the method `repeat` on `RichTextCodec` leads to stack overflow

**To Reproduce**
Just use the lazy variable `RichTextCodec.whitespaces`, which  internally uses `repeat`

**Expected behaviour**
No stack overflow. Probably some part is too eager.

[2022-10-30 15:14] #1700 closed, assigned to dev-andrey

[2022-10-30 15:33] #1693 closed, assigned to nobody

[2022-11-01 18:51] #1737 closed, assigned to nobody

[2022-11-02 14:53] #1685 closed, assigned to nobody

[2022-11-04 08:27] gregor-rayman commented on #1418
Here a small sample of a web socket chat app.

Here it start sending right after the connection is established:

[code]

Here the whole chat app:

[code]

[2022-11-04 09:02] csar commented on #1532
Would it hurt to set publish true for the logging? Without it the snapshot repo is pretty useless

[2022-11-07 12:49] frekw opened #1756 "Form data handling"
**Is your feature request related to a problem? Please describe.**
It would be nice if support for parsing `<form>` data was supported.

Right now I'm using `QueryStringDecoder` from Netty and doing something like:
[code]

but it would be nice if it shipped with zio-http, perhaps with a cleaner API?

**Describe the solution you'd like**
Easily be able to handle data submitted via HTML forms.

**De

[2022-11-07 12:53] frekw opened #1757 "Not possible to use the `CSRF` middleware via `<form>`s"
**Describe the bug**
Since the [`csrfGenerate`](https://github.com/zio/zio-http/blob/dfc18d1b4b1a02de3104c6251b5be565b80756a7/zio-http/src/main/scala/zio/http/api/Middleware.scala#L277) only adds the CSRF-token via `Middleware.addCookieZIO`, it will only be available after the response has been processed. In order to have CSRF validation for forms, I need to be able to add a hidden `_csrf_token` `

[2022-11-08 15:18] guersam opened #1761 "Feature: A middleware can produce value that can be propagated thru the next handlers"
**Is your feature request related to a problem? Please describe.**
When I write web servers, there are repeated use cases that I want to reuse common logics producing some context info e.g. auth session, correlation id, etc., and use the value in the application/business logic.

For example, an authentication middleware in a Node.js web server does:
1. Read the auth token from the request header
2

[2022-11-09 03:24] changzhiwin opened #1765 "Emit java.io.IOException: Connection reset by peer"
**Describe the bug**
The app logic is running ok, but emit Exception, maybe not handle Netty suitable.

**ENV**
OS: macOS Big Sur 11.7.1
zio-http: publishLocal the current master

**Additional context**
[error] 十一月 09, 2022 11:12:05 上午 io.netty.channel.DefaultChannelPipeline onUnhandledInboundException
[error] 警告: An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It

[2022-11-09 04:29] changzhiwin opened #1766 "zio-http-logging is conflict with zio-logging lib !"
**Is your feature request related to a problem? Please describe.**
The `zio-http-logging` project is conflict with [zio-logging](https://github.com/zio/zio-logging), and can't use together.

**Describe the solution you'd like**
Maybe use `zio-logging` directly is choice.
What the consideration or plan of this conflict? @jgoday  @adamgfraser

[2022-11-09 10:30] changzhiwin commented on #1766
`zio-http` need a no `ZIO` logger, so can't use `ZIO.log` directly.

Change the package name is a solution, eg. `zio.http.logging`. Is that can accept?

[2022-11-10 09:54] bs76 commented on #1689
@dev-andrey Will there be specific middleware to *remove* sensitive headers ? e.g. for BASIC auth I'd like to drop the password part of Authentication header ideally always, unless specifying I want to keep it.

[2022-11-13 15:12] Wosin commented on #1691
Should this be closed ??

[2022-11-14 23:54] wpoosanguansit commented on #1689
Commit for AccessControlAllowOrigin https://github.com/zio/zio-http/pull/1780 for review.

[2022-11-16 02:00] #1766 closed, assigned to nobody

[2022-11-16 07:13] wpoosanguansit commented on #1689
Commit for AccessControlAllowMaxAge https://github.com/zio/zio-http/pull/1781

[2022-11-16 21:51] jdegoes commented on #1756
How about:

[code]

Then eventually we would add `QueryParams#as[A: Schema]`.

[2022-11-19 01:27] wpoosanguansit commented on #1689
Commit for Expires - https://github.com/zio/zio-http/pull/1791

[2022-11-19 01:42] wpoosanguansit commented on #1689
Commit for Connection https://github.com/zio/zio-http/pull/1792

[2022-11-19 14:28] carlos-verdes commented on #1532
What is the major stopper to release first version?

I say that because I'm writing a library for ArangoDB based on zio-http client:
https://github.com/carlos-verdes/zio-arangodb

It's a port from this repo but written in Scala 3 (instead of 2) and ZIO (instead of cats):
https://github.com/avokka/avokka

@bicouy0

[2022-11-19 15:36] codingismy11to7 commented on #1756
looks like netty's `QueryStringDecoder` only throws `IllegalArgumentException`s, and it returns an ordered map (as does Play's form data decoder), so I made this slightly tweaked version. might open a PR with the `asQueryParams` functionality

[code]

[2022-11-21 10:08] wpoosanguansit commented on #1689
Commit for TransferEncoding - https://github.com/zio/zio-http/pull/1800

[2022-11-21 20:44] jdegoes opened #1801 "Add ZClientAspect for adding "decorators" to client"
`ZClientAspect`s can be created as a function from ZClient => ZClient, and applied using a function `ZClient#@@`.

Some client aspects can include:

 - Metrics
 - Tracing
 - Encoding
 - Decoding
 - Logging
 - Etc.

[2022-11-21 20:53] adamgfraser commented on #1801
I'll do this.

[2022-11-21 21:14] kmatasfp commented on #1527
I will take it

[2022-11-22 10:23] devsprint commented on #1524
acceptControlAllowCrdentials #1803

[2022-11-22 12:47] #1801 closed, assigned to nobody

[2022-11-22 15:44] frekw commented on #1756
I've given this some more thought. In a lot of ways parsing forms is very similar to what `zio-config`s `ConfigDescriptors` are doing, perhaps with the added possibility to easily specialize a field with added validation?

[code]

[2022-11-22 17:19] jdegoes commented on #1498
A subproblem here is to merely translate `HttpCodec` into a fragment of OpenAPI.

This can be done by adding `def toOpenAPI: zio.http.api.openapi.OpenAPIBase` (or similar) to `HttpCodec`, and then implementing it on a case-by-case basis for all subtypes, by using the most relevant OpenAPI data types.

Work can be checked by, for example, inspecting the JSON output or converting it to PDF or other

[2022-11-22 19:43] fancellu opened #1811 "0.0.3 logging regression, no longer propagated"
**Describe the bug**

I've just upgraded the below repo to 0.0.3, but now I see that logging context is not propagated

https://github.com/fancellu/zio-restful-webservice

**To Reproduce**

If you run it up and go to localhost:8080/up you'll see that logging output is not coloured, as it used to be in 2.0.0-RC11
Looks like what we had in RC10 https://github.com/dream11/zio-http/issues/1352

**Expe

[2022-11-22 21:51] frekw opened #1813 "Simplify specializing the NettyDriver"
**Is your feature request related to a problem? Please describe.**
More control over the NettyDriver is sometimes desirable, for example being able to share the EventLoopGroup and ChannelFactory when writing integration tests. While currently possible, setting everything up to be shareable is more annoying than it could be, and currently involved duplicating most of the layer-related code from Net

[2022-11-22 22:12] dylandoamaral opened #1814 "The tests for a HttpApp don't work as expected"
**Describe the bug**
I tried to test one of my route using zio http with Scala 3 but it doesn't work, I obtain the following error:

[code]

**To Reproduce**
You can clone the following project and run the test:
https://github.com/dylandoamaral/zio-http-issue

One day I will certainly delete the repository so just in case here is the code:

Server.scala
[code]

ServerSpec.scala
[code]

**Expected

[2022-11-23 00:15] wpoosanguansit commented on #1498
Hi John, I hope you do not mind providing more detail on the ticket.  OpenAPIBase is private so it is not accessible in EndpointSpec.  I made it public but EndpointSpec is a case class.  I got the error:

 class EndpointSpec needs to be abstract. Missing implementation for:
[error]   def toOpenApi: zio.http.api.openapi.OpenAPIBase

That would lead to generating the OpenApi as a complete object as:

[2022-11-23 05:22] 987Nabil commented on #1498
@wpoosanguansit the `OpenAPI` data structures represent the full open api spec. And it is very likely that currently not all fields can be filled from the data present in `EndpointSpec`. So it might be, that doc is just `Doc.empty`.
If you like, we can maybe pair on this. I'll write to you in discord.

[2022-11-23 09:16] adamw commented on #1813
To add some background, this used to work fine with older versions of zio-http.

We need this feature in tapir to quickly run a large number of tests which start & stop multiple HTTP servers. Here's how we've been using the configuration:

https://github.com/softwaremill/tapir/blob/779274f64813e5783bb8804c80dfa050894689dd/server/zio-http-server/src/test/scala/sttp/tapir/server/ziohttp/ZioHttpTestS

[2022-11-23 20:24] frekw commented on #1756
I came up [with this](https://gist.github.com/frekw/6c9d16dd974aacf9af683f60dd8eb4fe).

That allows me to do the following:

[code]

What I find nice about it is that it easily allows me to combine extracting data out of forms and also parsing them using e.g zio-prelude, while still keeping track of the path in the form that failed (is possible). I tried going down the zio-schema route first, but

[2022-11-24 21:09] dylandoamaral commented on #1814
The version of zio was 2.0.4, it seems to work with 2.0.2.

[2022-11-25 07:31] carlos-verdes commented on #1532
Just for the people like me trying to build on top of this, there is a release (7 days ago) that is in Maven repo.
I had to update also zio version to avoid an issue on it:tests:
[code]

[2022-11-25 18:09] jdegoes commented on #1756
I would go down the ZIO Schema rabbit hole: just encode the information into a DynamicValue, and then use the Schema#fromDynamic to load it into the specified type. That's the easiest way. Gives you good errors too.

[2022-11-26 08:03] 987Nabil commented on #1498
@jdegoes
@wpoosanguansit and I noticed some edges.
1. OpenApi references documentation of path parameters by the name of its placeholder. But zio http does not offer to explicitly name path params. One could generate names, but I guess this is not desirable by the user that generates API docs. I think we need some API to have named text codecs for path. So instead of `EndpointSpec.get("users" / in

[2022-11-28 09:13] jdegoes commented on #1813
cc @scottweaver

[2022-11-28 18:21] scottweaver commented on #1813
Is the desire just to have control over the `EventLoopGroup` and the `ChannelFactory[ServerChannel])`, or more than that?

[2022-11-28 19:18] adamw commented on #1813
@scottweaver yes, these are the dependencies that we are providing as shared resources

[2022-11-30 11:09] ithinkicancode commented on #1500
I'm going to take a crack at this ticket. Please assign it to me. Thanks.